<div class="mt-4">
    <h5>Precificação do Produto</h5>
    {% include 'partials/_precificacao_tabela.html' %}
</div>

<input type="hidden" id="param_pis" value="{{ parametros.pis or 0 }}">
<input type="hidden" id="param_cofins" value="{{ parametros.cofins or 0 }}">
<input type="hidden" id="param_irpj" value="{{ parametros.irpj or 0 }}">
<input type="hidden" id="param_csll" value="{{ parametros.csll or 0 }}">
<input type="hidden" id="param_icms_fe_extra" value="{{ parametros.icms_fe_2 or 0 }}">
<input type="hidden" id="param_outros_custos" value="{{ parametros.outros_custos or 0 }}">


{% for bloco in ['de', 'de_fr', 'fe', 'fe_fr'] %}
  <input type="hidden" id="param_icms_{{ bloco }}" value="{{ parametros.icms if 'fe' not in bloco else parametros.icms_fe }}">
{% endfor %}

<div class="mt-4">
    <h5>Condições de Pagamento</h5>

    <ul class="nav nav-pills mb-3" id="tabPagamento" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-venda" data-bs-toggle="pill" data-bs-target="#venda" type="button" role="tab">Venda</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-revenda" data-bs-toggle="pill" data-bs-target="#revenda" type="button" role="tab">Revenda</button>
        </li>
    </ul>

    <div class="tab-content" id="tabPagamentoContent">
        <div class="tab-pane fade show active" id="venda" role="tabpanel">
            <table class="table table-sm table-bordered text-center align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Condição</th>
                        <th>A Vista</th>
                        <th>28 Dias</th>
                        <th>28/56</th>
                        <th>56 Dias</th>
                        <th>84 Dias</th>
                        <th>3x</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dentro - Sem Frete</td>
                        <td id="pagamento_de_avista">R$ {{ '%.2f' % tabela_pagamentos[0].avista }}</td>
                        <td id="pagamento_de_28">R$ {{ '%.2f' % tabela_pagamentos[0]['28'] }}</td>
                        <td id="pagamento_de_28_56">R$ {{ '%.2f' % tabela_pagamentos[0]['28_56'] }}</td>
                        <td id="pagamento_de_56">R$ {{ '%.2f' % tabela_pagamentos[0]['56'] }}</td>
                        <td id="pagamento_de_84">R$ {{ '%.2f' % tabela_pagamentos[0]['84'] }}</td>
                        <td id="pagamento_de_3x">R$ {{ '%.2f' % tabela_pagamentos[0]['3x'] }}</td>
                    </tr>
                    <tr>
                        <td>Dentro - Com Frete</td>
                        <td id="pagamento_de_fr_avista">R$ {{ '%.2f' % tabela_pagamentos[1].avista }}</td>
                        <td id="pagamento_de_fr_28">R$ {{ '%.2f' % tabela_pagamentos[1]['28'] }}</td>
                        <td id="pagamento_de_fr_28_56">R$ {{ '%.2f' % tabela_pagamentos[1]['28_56'] }}</td>
                        <td id="pagamento_de_fr_56">R$ {{ '%.2f' % tabela_pagamentos[1]['56'] }}</td>
                        <td id="pagamento_de_fr_84">R$ {{ '%.2f' % tabela_pagamentos[1]['84'] }}</td>
                        <td id="pagamento_de_fr_3x">R$ {{ '%.2f' % tabela_pagamentos[1]['3x'] }}</td>
                    </tr>
                    <tr>
                        <td>Fora - Sem Frete</td>
                        <td id="pagamento_fe_avista">R$ {{ '%.2f' % tabela_pagamentos[2].avista }}</td>
                        <td id="pagamento_fe_28">R$ {{ '%.2f' % tabela_pagamentos[2]['28'] }}</td>
                        <td id="pagamento_fe_28_56">R$ {{ '%.2f' % tabela_pagamentos[2]['28_56'] }}</td>
                        <td id="pagamento_fe_56">R$ {{ '%.2f' % tabela_pagamentos[2]['56'] }}</td>
                        <td id="pagamento_fe_84">R$ {{ '%.2f' % tabela_pagamentos[2]['84'] }}</td>
                        <td id="pagamento_fe_3x">R$ {{ '%.2f' % tabela_pagamentos[2]['3x'] }}</td>
                    </tr>
                    <tr>
                        <td>Fora - Com Frete</td>
                        <td id="pagamento_fe_fr_avista">R$ {{ '%.2f' % tabela_pagamentos[3].avista }}</td>
                        <td id="pagamento_fe_fr_28">R$ {{ '%.2f' % tabela_pagamentos[3]['28'] }}</td>
                        <td id="pagamento_fe_fr_28_56">R$ {{ '%.2f' % tabela_pagamentos[3]['28_56'] }}</td>
                        <td id="pagamento_fe_fr_56">R$ {{ '%.2f' % tabela_pagamentos[3]['56'] }}</td>
                        <td id="pagamento_fe_fr_84">R$ {{ '%.2f' % tabela_pagamentos[3]['84'] }}</td>
                        <td id="pagamento_fe_fr_3x">R$ {{ '%.2f' % tabela_pagamentos[3]['3x'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="revenda" role="tabpanel">
            {% for row in tabela_pagamentos_revenda %}
            {% set bloco = ['rev_de', 'rev_de_fr', 'rev_fe', 'rev_fe_fr'][loop.index0] %}
            <input type="hidden" id="preco_{{ bloco }}" value="{{ '%.4f' % row.avista }}">
            {% endfor %}
            <table class="table table-sm table-bordered text-center align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Condição</th>
                        <th>A Vista</th>
                        <th>28 Dias</th>
                        <th>28/56</th>
                        <th>56 Dias</th>
                        <th>84 Dias</th>
                        <th>3x</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tabela_pagamentos_revenda %}
                    {% set bloco = ['rev_de', 'rev_de_fr', 'rev_fe', 'rev_fe_fr'][loop.index0] %}
                    <tr>
                    <td>{{ row.nome }}</td>
                    <td id="pagamento_{{ bloco }}_avista">R$ {{ '%.2f' % row.avista }}</td>
                    <td id="pagamento_{{ bloco }}_28">R$ {{ '%.2f' % row['28'] }}</td>
                    <td id="pagamento_{{ bloco }}_28_56">R$ {{ '%.2f' % row['28_56'] }}</td>
                    <td id="pagamento_{{ bloco }}_56">R$ {{ '%.2f' % row['56'] }}</td>
                    <td id="pagamento_{{ bloco }}_84">R$ {{ '%.2f' % row['84'] }}</td>
                    <td id="pagamento_{{ bloco }}_3x">R$ {{ '%.2f' % row['3x'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
