<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Empresa{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo_gerarsoftec.png') }}" width="30" height="30" alt="Logo">
            Minha Empresa
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cadastro_empresa.cadastro_empresa') }}">Cadastro de Empresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login.login') }}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>