{% extends "base_login.html" %}
{% block title %}Editar Produto{% endblock %}

{% block content %}
<div class="container mt-4">

  {% if mensagem_erro %}
  <div class="alert alert-danger" role="alert">
      {{ mensagem_erro }}
  </div>
  {% endif %}

  <nav aria-label="breadcrumb" class="mb-4">
    <ol class="breadcrumb bg-body-tertiary border rounded-3 px-3 py-2 d-flex align-items-center">
    <li class="breadcrumb-item">
      <a class="text-decoration-none" href="{{ url_for('main.pg_inicial') }}">Início</a>
    </li>
   <li class="breadcrumb-item">
      {% if produto and produto.produto_tipoID in [2, 8] %}
        <a class="text-decoration-none" href="{{ url_for('ingredientes_bp.lista_ingredientes') }}">Ingredientes</a>
      {% else %}
        <a class="text-decoration-none" href="{{ url_for('lista_produtos.lista_produtos') }}">Produtos</a>
      {% endif %}
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ 'Editar' if produto else 'Cadastrar' }}
      {% if produto and produto.produto_tipoID in [2, 8] %}
        Ingrediente
      {% else %}
        Produto
      {% endif %}
    </li>
      <li class="ms-auto">
        <div class="d-flex gap-2">
          <button type="submit" class="btn btn-success btn-sm" form="form-editar-produto">Salvar</button>
          {% if produto and not clonar %}
            <a href="{{ url_for('editar_produto_bp.clonar_produto_view', produtoID=produto.produtoID) }}" class="btn btn-warning btn-sm">Clonar</a>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalExcluir">Excluir</button>
            <a href="{{ url_for('lista_produtos.lista_produtos') }}" class="btn btn-secondary btn-sm">Voltar</a>
          {% endif %}
        </div>
      </li>
    </ol>
  </nav>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
          <button class="nav-link active" id="produto-tab" data-bs-toggle="tab" data-bs-target="#produto" type="button" role="tab">Dados do Produto</button>
      </li>
      <li class="nav-item" role="presentation">
          <button class="nav-link" id="precificacao-tab" data-bs-toggle="tab" data-bs-target="#precificacao" type="button" role="tab">Precificação</button>
      </li>
  </ul>

  <form method="POST" id="form-editar-produto">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="produto" role="tabpanel">
            {% include 'partials/_form_produto.html' %}
            {% if produto and not clonar %}
                {% include 'partials/_modal_excluir_produto.html' %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="precificacao" role="tabpanel">
            {% include 'partials/_precificacao.html' %}
        </div>
    </div> 
  </form>

{% include 'partials/_script_precificacao_dolar.html' %}

{% endblock %}
